{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>Contact Us</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/styles.css' %}">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="left-side">
          <div class="address details">
            <i class="fas fa-map-marker-alt"></i>
            <div class="topic">Address</div>
            <div class="text-one">World, NP2000</div>
            <div class="text-two">Bermuda 06</div>
          </div>
          <div class="phone details">
            <i class="fas fa-phone-alt"></i>
            <div class="topic">Phone</div>
            <div class="text-one">+0000 0000 0000</div>
            <div class="text-two">+0000 0000 0000</div>
          </div>
          <div class="email details">
            <i class="fas fa-envelope"></i>
            <div class="topic">Email</div>
            <div class="text-one">me@gmail.com</div>
            <div class="text-two">johndoe@gmail.com</div>
          </div>
        </div>
        <div class="right-side">
          <div class="topic-text">Send us a message</div>
          <p>Feel free to send us an email, anytime any day.</p>
          <form action="#" method="POST">
            {% csrf_token %}
            <div class="input-box">
              {{form.name}}
            </div>
            <div class="input-box">
              {{form.email}}
            </div>
            <div class="input-box">
              {{form.subject}}
            </div>
            <div class="input-box message-box">
              <div class="input-box">
              {{form.message}}
            </div>
            </div>
            <div class="button">
              <input type="Submit" value="Send Now" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
